
.hover:hover {
  /*display: none !important;*/
  background-color: rgba(0,0,0,0) !important;
}

#loc:hover {
  /*display: none !important;*/
  background-color: rgba(0,0,0,0) !important;
  color:black !important;
}

div {
  z-index: 1;
  font-family: monospace;

}

div { cursor: none !important; }
